<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./component.js"></script>
</head>

<body>
    <h1>My Component</h1>
    <app-root test="123">hello world</app-root>
    <app-root test="1234"></app-root>
    <app-static id="1"></app-static>
    <app-static id="2"></app-static>
    <app-style style-text="color: blue;"></app-style>
    <script src="./main.js"></script>
</body>

</html>